<!-- <button class="btn btn-primary">click</button>
<app-test></app-test> -->
 <!-- {{ title }}
 {{ 2 + 2 }}
 {{ title.toUpperCase() }}
 {{ title.length }}
 {{ greetUser() }} -->
 <!-- assignments -->
 <!-- <div>
    {{ title }}
 </div> -->
<!-- global javascript variables -->
<!-- <div>
    {{ url }}
</div> -->
<!-- <div>{{ myWindow.location.href }}</div> -->
<!--  ++ -- -->
<!-- {{ count + 1 }} -->
<!-- bitwise operators -->
<!-- <div>{{ result }}</div> -->
<!-- new -->
<!-- <div>
    {{ arr.length }}
    <span class="mx-3">{{ arr[0] }}</span> -->
<!-- </div>
<div>
    {{ true && title }}
</div> -->
<!-- <div>
    {{ () => 'hi' }}
</div> -->

<!-- <div>
    {{ greetUser() }}
</div> -->

<!-- <input type="text" value="test">

<table class="w-100">
    <thead>
        <th>col 1</th>
        <th>col 2</th>
        <th>col 3</th>
    </thead>
    <tbody>
        <tr>
            <td [colSpan]="cols">wide cell</td>
            <td>normal cell</td>
        </tr>
    </tbody> -->

   
<!-- </table> -->

<!-- <input type="text" id="hala">
<button class="btn btn-primary" [disabled]="true">click me</button>
<div [class]="classes">
    text here
</div> -->
<!-- <div class="border" [style.width]="'100px'" [style.backgroundColor]="backgroundColor">
    style binding
</div> -->

<!-- <nav [style]="navStyle">
    <a [style.text-decoration]="activeLinkStyle">Home Page</a>
    <a [style.text-decoration]="linkStyle">Login</a>
</nav>

<input type="text" placeholder="enter you phone number" #phone>

<button class="btn btn-primary" (click)="onButtonClick(phone)">click</button> -->

<!-- <input type="text" id="name" [(ngModel)]="name">

{{ name }} -->

<!-- <app-test 
    *ngIf="showTestComponent"
    [title]="name" 
    [object]="{ age: 5 }" 
    name="Ahmad"
    (titleUpdated)="onTitleUpdate($event)"
></app-test>

<button class="btn btn-primary d-block" (click)="changeName()">
    Change Name
</button>

<button class="btn btn-primary d-block my-3" (click)="toggleTestComponentView()">
    {{ showTestComponent ? 'Hide TestComponent' : 'Show TestComponent' }}
</button> -->

<!-- Pipes -->
<!-- <div>
    {{ 'hala' | uppercase }}
</div> -->
<!-- <div>
    {{ 'HALA' | lowercase }}
</div>
<div>
    {{ 'this is a title' | titlecase }}
</div>
<div>
    {{ 'this is a title' | slice:3:9 }}
</div>
<div>
    {{ { name: 'frg', age: 4, phone: '35486478' } | json }}
</div> -->
<!-- <div>
    {{ 10000000000 | number }}
</div>
<div>
    {{ 5.4527 | number:'1.2-3' }}
</div>
<div>
    {{ 5.4 | number:'1.3' }}
</div>
<div>
    {{ 0.25 | percent }}
</div>
<div>
    {{ 500 | currency }}
</div>
<div>
    {{ 500 | currency:'EUR' }}
</div>
<div>
    {{ 500 | currency:'EUR':'code' }}
</div> -->
<!-- <div>
    {{ currentDate | date:'full' }}
</div>
<div>
    {{ currentDate | date:'full' | uppercase }}
</div> -->
<!-- <div>
    {{ { age: 0 } | object:'age' }}
</div> -->
<!-- Pipes -->
<!-- <app-one *ngIf="showDiv"></app-one> -->

<!-- <div [ngClass]="classes">
    text here
</div>

<nav [ngStyle]="{ fontSize: '1.2rem', color: 'green' }">
    <a [style.text-decoration]="activeLinkStyle">Home Page</a>
    <a [style.text-decoration]="linkStyle">Login</a>
</nav>

<input type="text" id="name" [(ngModel)]="name">
{{ name }} -->


<!-- <ng-template>
    text text
</ng-template>

<div *ngIf="showDiv">
    ngIf example
</div>

<div class="d-none">
    hide using css
</div> -->

<!-- <div *ngIf="customer?.name; else elseBlock"> customer && customer.name => customer?.name -->
    <!-- <div *ngIf="customer.name">Hello! {{ customer.name.length }}</div> -->
    <!-- Hello! {{ customer.name.length }} -->
    <!-- other data: {{ customer | json }} -->
<!-- </div> -->
<!-- <ng-template #elseBlock>
    <div class="text-danger">
        customer.name is undefined
    </div>
</ng-template>



<div *ngIf="customer?.name;then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    Hello! {{ customer.name.length }}
</ng-template>
<ng-template #elseBlock>
    <div class="text-danger">
        customer.name is undefined
    </div>
</ng-template> -->
<!-- 
<div *ngFor="let item of items; let i = index; first as f; last as last; even as even; odd as odd" [class.border-bottom]="!last">
    {{ item }} {{ i }} {{ f }} {{ last }} {{ even }} {{ odd }}
</div>
<p>
    I turned the corner
    <ng-container *ngIf="customer">
        and saw {{ customer.name }}. I waved
    </ng-container>
    and continued my way
</p>
<button class="btn btn-primary my-3" (click)="customer = { description: 'some name', name: 'name' }">Define customer</button>

<ng-container *ngFor="let item of items">
    {{ item }}
</ng-container>

<ng-container [ngSwitch]="name">
    <div class="text-success" *ngSwitchCase="'test'">
        test
    </div>
    <app-one *ngSwitchCase="'hala'"></app-one>
    <app-test *ngSwitchDefault></app-test>
</ng-container> -->

<!-- <div appHighlight="blue">
    some text
</div>

<p [appHighlight]="color" defaultColor="red">
    some text
</p>

<div>Choose the color</div>
<input type="radio" name="radio" (click)="color = 'yellow'">Yellow
<input type="radio" name="radio" (click)="color = 'green'">Green
<input type="radio" name="radio" (click)="color = 'blue'">Blue
<div appHighlight>
    {{ color }}
</div> -->

<!-- <div *appUnless="isBold">
    show when condition is false
</div>

<app-one *appUnless="true"></app-one>

{{ client | json }}

<app-header></app-header> -->

<!-- <app-test>
    <div class="text-danger question">
        projected content
    </div>
    <app-one class="center"></app-one>
    <div class="p-5 m-5 fw-bold" style="color: blue; font-size: 24px">
        content that does not match any selector
    </div>
</app-test> -->

<!-- <button class="btn btn-primary" (click)="createUser()">Create User</button> -->

<!-- <app-hero-form></app-hero-form> -->

<!-- <div class="form-group">
    <label>
        Name: 
        <input type="text" class="form-control" [formControl]="nameControl">
    </label>
</div>
<div>
    Value: {{ nameControl.value }}
</div>
<div>
    Valid: {{ nameControl.valid }}
</div>
<div>
    Invalid: {{ nameControl.invalid }}
</div>
<div>
    Touched: {{ nameControl.touched }}
</div>
<div>
    Untouched: {{ nameControl.untouched }}
</div>
<div>
    Pristine: {{ nameControl.pristine }}
</div>
<div>
    Dirty: {{ nameControl.dirty }}
</div>
<button class="btn btn-primary d-block my-3" (click)="updateNameControl()">Update Name</button> -->

<!-- <app-profile-form></app-profile-form> -->

<!-- <app-hero-reactive-form></app-hero-reactive-form> -->

<app-dynamic-form [questions]="questions"></app-dynamic-form>
