<!-- <button class="btn btn-primary">click</button>
<app-test></app-test> -->
 <!-- {{ title }}
 {{ 2 + 2 }}
 {{ title.toUpperCase() }}
 {{ title.length }}
 {{ greetUser() }} -->
 <!-- assignments -->
 <!-- <div>
    {{ title }}
 </div> -->
<!-- global javascript variables -->
<!-- <div>
    {{ url }}
</div> -->
<!-- <div>{{ myWindow.location.href }}</div> -->
<!--  ++ -- -->
<!-- {{ count + 1 }} -->
<!-- bitwise operators -->
<!-- <div>{{ result }}</div> -->
<!-- new -->
<!-- <div>
    {{ arr.length }}
    <span class="mx-3">{{ arr[0] }}</span> -->
<!-- </div>
<div>
    {{ true && title }}
</div> -->
<!-- <div>
    {{ () => 'hi' }}
</div> -->

<!-- <div>
    {{ greetUser() }}
</div> -->

<!-- <input type="text" value="test">

<table class="w-100">
    <thead>
        <th>col 1</th>
        <th>col 2</th>
        <th>col 3</th>
    </thead>
    <tbody>
        <tr>
            <td [colSpan]="cols">wide cell</td>
            <td>normal cell</td>
        </tr>
    </tbody> -->

   
<!-- </table> -->

<!-- <input type="text" id="hala">
<button class="btn btn-primary" [disabled]="true">click me</button>
<div [class]="classes">
    text here
</div> -->
<!-- <div class="border" [style.width]="'100px'" [style.backgroundColor]="backgroundColor">
    style binding
</div> -->

<!-- <nav [style]="navStyle">
    <a [style.text-decoration]="activeLinkStyle">Home Page</a>
    <a [style.text-decoration]="linkStyle">Login</a>
</nav>

<input type="text" placeholder="enter you phone number" #phone>

<button class="btn btn-primary" (click)="onButtonClick(phone)">click</button> -->

<!-- <input type="text" id="name" [(ngModel)]="name">

{{ name }} -->

<!-- <app-test 
    *ngIf="showTestComponent"
    [title]="name" 
    [object]="{ age: 5 }" 
    name="Ahmad"
    (titleUpdated)="onTitleUpdate($event)"
></app-test>

<button class="btn btn-primary d-block" (click)="changeName()">
    Change Name
</button>

<button class="btn btn-primary d-block my-3" (click)="toggleTestComponentView()">
    {{ showTestComponent ? 'Hide TestComponent' : 'Show TestComponent' }}
</button> -->

<!-- Pipes -->
<!-- <div>
    {{ 'hala' | uppercase }}
</div> -->
<!-- <div>
    {{ 'HALA' | lowercase }}
</div>
<div>
    {{ 'this is a title' | titlecase }}
</div>
<div>
    {{ 'this is a title' | slice:3:9 }}
</div>
<div>
    {{ { name: 'frg', age: 4, phone: '35486478' } | json }}
</div> -->
<!-- <div>
    {{ 10000000000 | number }}
</div>
<div>
    {{ 5.4527 | number:'1.2-3' }}
</div>
<div>
    {{ 5.4 | number:'1.3' }}
</div>
<div>
    {{ 0.25 | percent }}
</div>
<div>
    {{ 500 | currency }}
</div>
<div>
    {{ 500 | currency:'EUR' }}
</div>
<div>
    {{ 500 | currency:'EUR':'code' }}
</div> -->
<!-- <div>
    {{ currentDate | date:'full' }}
</div>
<div>
    {{ currentDate | date:'full' | uppercase }}
</div> -->
<!-- <div>
    {{ { age: 0 } | object:'age' }}
</div> -->
<!-- Pipes -->
<app-one></app-one>